<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OrganTransplantDB"
         connectionString="Server=shortline.proxy.rlwy.net;Port=12048;Database=railway;User Id=root;Password=sOUKfiykIGLXorMFXWXMFxbhXLBxnmRr;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Logging settings -->
    <add key="EnableLogging" value="true" />
    <add key="LogFilePath" value="Logs\OrganTransplant.log" />
    <add key="LogLevel" value="Info" /> <!-- Debug, Info, Warning, Error -->

    <!-- Application settings -->
    <add key="MaxApiRetries" value="3" />
    <add key="ApiTimeout" value="10" />
  </appSettings>
</configuration>
